@import url('https://fonts.googleapis.com/css?family=Raleway:regular,300,700,800,600|Hind:regular,500|Open+Sans:regular,700|Montserrat:regular,700|Lato:regular,700');

/** delimiter **/
.translator-delimiter.hide {
    display: none!important;
}

/** spinner **/
#uvc-type-wrap-1980 {
    font-size: 45px;
    line-height: 50px;
}

.ultimate-typed-main {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.uvc-wrap-31290215265fdf3912d95f8 .typed-cursor {
    color: #ffffff;
}

.typed-cursor {
     opacity: 1;
     font-weight: 100;
     -webkit-animation: ult-blink .7s infinite;
     animation: ult-blink .7s infinite;
}

.translator-spinner {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999999999 !important;
    width: 100%;
    height: 56px;
    background-color: rgba(16,16,16,1);
}

.translator-spinner.hide {
    display: none!important;
}

/** hover **/
hover {
    cursor: pointer;
}

hover-popup {
    position: absolute;
    left: 0;
}